* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(56, 142, 115, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;
    /*padding: 10px 10%;*/
    overflow: hidden;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

    nav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 400;
    }

.login-btn {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

    .content h1 {
        font-size: 70px;
        color: #222;
    }

    .content p {
        margin: 10px 0 30px;
        color: #333;
    }

    .content .btn {
        padding: 15px 80px;
        font-size: 15px;
    }

.btn:hover {
    border-top-right-radius: 30px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #00aea7, #4e8567);
    font-size: 14px;
    border-radius: 30px;
    transition: 0.5s;
}

    .btn:hover {
        border-top-right-radius: 30px;
        animation: rotateAnimation 1.5s infinite linear;
    }


@keyframes rotateAnimation {
    0% {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 30px;
    }

    25% {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 15px;
    }

    50% {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 15px;
    }

    75% {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 15px;
    }

    100% {
        border-top-left-radius: 30px;
        border-top-right-radius: 15px;
    }
}

.feature-img {
    width: 375px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.non-border {
    border: none;
}
.border {
    border: 1px solid #393939;
    
}
.table {
    width:100%;
}
td, th {
    text-align: center;
    padding: 5px;
    width: fit-content;
    color:black;
    border-radius:10px;
}
th {
    background: rgba(56, 142, 115, 0.5);
    border: 1px solid #393939;
}

    

.btn2 {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #00aea7, #4e8567);
    font-size: 14px;
    border:solid;
    transition: 0.5s;
    width:200px;
    text-align:center;
}
.btn2:hover {
    border-top-right-radius: 30px;
}
.form-label {
    
}
.form-control {
    padding: 5px;
    margin-bottom: 10px;
}
/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header{
    z-index:999;
}*/